In [120]:
import glob
from io import StringIO
import os
import pandas as pd
import io

In [121]:
ls

AIC001-000  Data_parser.ipynb  K-Net/  K-Net.zip

In [122]:
#parse by spaces
test = open('AIC001-000','r').read()
parsed = test.split('\n')
test = parsed[0:16]

test

['Origin Time       2016/04/16 01:25:00',
 'Lat.              32.753',
 'Long.             130.762',
 'Depth. (km)       12',
 'Mag.              7.3',
 'Station Code      AIC001',
 'Station Lat.      35.2976',
 'Station Long.     136.7500',
 'Station Height(m) 6',
 'Record Time       2016/04/16 01:28:06',
 'Sampling Freq(Hz) 100Hz',
 'Duration Time(s)  120',
 'Dir.              N-S',
 'Scale Factor      7845(gal)/8223790',
 'Max. Acc. (gal)   2.327',
 'Last Correction   2016/04/16 01:28:08']

In [113]:
##test for single case first then run loop -- Example that works

#grab the data
path = 'AIC001-000'

#method 1
raw = open(path,'r').read()

# split the data 
data = pd.read_fwf(io.StringIO(raw), header=None)
#df = pd.DataFrame([[row[:17].strip(), row[17:].strip()] for row in original.splitlines()])
#data = pd.DataFrame([row[17:].strip() for row in original.splitlines()])

data = data.iloc[[5,6,7,10,13,14],[1]].values.T.tolist()

#data.insert(0,path)
data

#method for getting list into dataframe

df = pd.DataFrame(data,columns = [ "Station_code", "Station_lat", "Station_long", "Sample_Freq(Hz)", "Scale_factor", "Max_Acc(gal)"] )

df.insert(0,"File",path)

df

,File,Station_code,Station_lat,Station_long,Sample_Freq(Hz),Scale_factor,Max_Acc(gal)
0,AIC001-000,AIC001,35.2976,136.7500,100Hz,7845(gal)/8223790,2.327

In [118]:
## run loop to iterate through the files  -- does not work yet

i=0
for path in glob.glob(os.path.join('./K-Net', '*')):
    #grab the data
    

    #method 
    raw = open(path,'r').read()

    data = pd.read_fwf(io.StringIO(raw), header=None)
    #df = pd.DataFrame([[row[:17].strip(), row[17:].strip()] for row in original.splitlines()])
    #data = pd.DataFrame([row[17:].strip() for row in original.splitlines()])

    data = data.iloc[[5,6,7,10,13,14],[1]].values.T.tolist()

    #data.insert(0,path)
    data

    #method for getting list into dataframe

    df = pd.DataFrame(data,columns = [ "Station_code", "Station_lat", "Station_long", "Sample_Freq(Hz)", "Scale_factor", "Max_Acc(gal)"] )

    df.insert(0,"File",path)
    
i

0

In [119]:
df

,File,Station_code,Station_lat,Station_long,Sample_Freq(Hz),Scale_factor,Max_Acc(gal)
0,./K-Net/CHB029-090,CHB029,35.6947,139.9176,100Hz,7845(gal)/8223790,1.286

In [56]:
# create the dataframe
df = pd.DataFrame( columns = ["File_name", "Station_code", "Station_lat", "Station_long", "Sample_Freq(Hz)", "Scale_factor", "Max_Acc(gal)"])

Empty DataFrame
Columns: [File_name, Station_code, Station_lat, Station_long, Sample_Freq(Hz), Scale_factor, Max_Acc(gal)]
Index: []

In [ ]:
#create list containing all the file names
path = './K-Net/'
filenames = glob.glob(path+'*')

In [72]:

#method for getting list into dataframe

df = pd.DataFrame(data,columns = [ "Station_code", "Station_lat", "Station_long", "Sample_Freq(Hz)", "Scale_factor", "Max_Acc(gal)"] )

df


#methods for loop
# append list through loop then add to dataframe
#list=[['a','b']]
#list.append(['e','f'])
#df=pd.DataFrame(list,columns=['col1','col2'])

,Station_code,Station_lat,Station_long,Sample_Freq(Hz),Scale_factor,Max_Acc(gal)
0,OKY012,34.5893,133.7545,100Hz,7845(gal)/8223790,5.534

In [ ]:
#test parsing single file -> pandas
file = './AIC001-00'

In [ ]:
# do this to run scan on entire contents of folder - not there yet
for infile in glob.glob(os.path.join('./', '*')):
    review_file = open(infile,'r').read()
    a= review_file
    print (review_file)

In [ ]:
ls

In [ ]:
#parse by spaces
test = open('AIC001-000','r').read()
#parsed = test.split('\n')
##parsed = test.split()
parsed

In [ ]:
parsed[0:16]

In [ ]:
parsed = test.split('\n')

In [ ]:
parsed[0:16]

In [ ]:
'''File name
From header:
Station code
Station Lat.
Station Long.
Sampling Freq (Hz)
Scale factor
Max Acc. (gal)'''

In [ ]:
rDefault()

In [ ]:
var lastName = parts.LastOrDefault();
var firstName = string.Join(" ",parts.Take(parts.Length-1));